<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 ToBai. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Store\Model\StoreResolver" type="Tobai\GeoStoreSwitcher\Model\GeoStoreResolver" />
    <type name="Magento\Store\Api\WebsiteRepositoryInterface">
        <plugin name="tobai-geo-store-website-repository" type="Tobai\GeoStoreSwitcher\Plugin\Store\GeoWebsiteRepository" />
    </type>
    <type name="\Magento\Store\Model\Group">
        <plugin name="tobai-geo-store-default-store" type="Tobai\GeoStoreSwitcher\Plugin\Store\GeoGroup" />
    </type>
    <type name="Magento\Store\Model\Website">
        <plugin name="tobai-geo-store-default-store" type="Tobai\GeoStoreSwitcher\Plugin\Store\GeoWebsite" />
    </type>
    <type name="Magento\Framework\App\PageCache\Identifier">
        <plugin name="tobai-geo-store-identifier" type="Tobai\GeoStoreSwitcher\Plugin\PageCache\GeoIdentifier" />
    </type>
    <type name="Tobai\GeoStoreSwitcher\Model\GeoStore\Switcher\RulePool">
        <arguments>
            <argument name="rules" xsi:type="array">
                <item name="country" xsi:type="string">Tobai\GeoStoreSwitcher\Model\GeoStore\Switcher\Rule\Country</item>
                <item name="group_country" xsi:type="string">Tobai\GeoStoreSwitcher\Model\GeoStore\Switcher\Rule\GroupCountry</item>
                <item name="default_store" xsi:type="string">Tobai\GeoStoreSwitcher\Model\GeoStore\Switcher\Rule\DefaultStore</item>
            </argument>
        </arguments>
    </type>
    <type name="Tobai\GeoStoreSwitcher\Model\GeoStore\Switcher">
        <arguments>
            <argument name="rule" xsi:type="object">Tobai\GeoStoreSwitcher\Model\GeoStore\Switcher\RulePool</argument>
            <argument name="permanentRule" xsi:type="object">Tobai\GeoStoreSwitcher\Model\GeoStore\Switcher\PermanentRule\CountryStoreMapping</argument>
        </arguments>
    </type>
</config>
